.home-wrapper {
  padding-top: 30px;
  .body-content {
    float: none;
    margin: 0 auto;
  }
  .long-bedroom-hoverable {
    position: relative;
    margin-bottom: 30px;
    .home-image {
      display: block;
      width: 100%;
    }

    .pop-up-box-inner {
      background: #222;
      h3 {
        font-family: 'Nunito sans';
        color: #fff;
        margin-right: 30px;
      }
      a {
        color: #bbb;
      }
      a.read-more {
        text-transform: none;
        font-family: Georgia, serif;
        display: block;
        margin-top: 10px;
        font-style: italic;
      }
    }

    .toggle-button {
      display: block;
      position: absolute;
      border: 2px solid #fff;
    }

    .toggle-button:hover {
      border: 2px solid #ff00cc;
      cursor: pointer;
    }

    .toggle-button.open {
      border: 2px solid #ff00cc;
    }

    .pop-up-box {
      position: absolute;
      .box-shadow-bottom-right;
    }

    .pop-up-box img.artefact-thumbnail {
      max-width: 300px;
      max-height: 200px;
    }

    .badge.toggle-button {
      width: 0.5%;
      height: 0.8%;
      left: 36.6%;
      top: 51%;
    }

    .badge.pop-up-box {
      left: 36.6%;
      top: 52.8%;
    }

    .belt.toggle-button {
      height: 3.7%;
      width: 1%;
      left: 45%;
      top: 41%;
    }

    .belt.pop-up-box {
      left: 45%;
      top: 45.7%;
    }

    .bottle.toggle-button {
      width: 1.8%;
      height: 7%;
      right: 5%;
      top: 65.7%;
    }

    .bottle.pop-up-box {
      right: 7.3%;
      bottom: 1%;
    }

    .deer.toggle-button {
      width: 1.6%;
      height: 2.4%;
      left: 32.5%;
      top: 49%;
    }

    .deer.pop-up-box {
      left: 32.5%;
      top: 52.4%;
    }

    .hide.toggle-button {
      width: 1.6%;
      height: 2.4%;
      left: 32.5%;
      top: 49%;
    }

    .hide.pop-up-box {
      left: 32.5%;
      top: 52.4%;
    }

    .hostess.toggle-button {
      width: 1.9%;
      height: 4.3%;
      left: 29.4%;
      top: 47%;
    }

    .hostess.pop-up-box {
      left: 29.4%;
      top: 52.3%;
    }

    .iconography.toggle-button {
      width: 1.2%;
      height: 1.1%;
      left: 35.7%;
      top: 49.4%;
    }

    .iconography.pop-up-box {
      left: 35.7%;
      top: 51.5%;
    }

    .jug.toggle-button {
      width: 1.7%;
      height: 2.5%;
      left: 40%;
      top: 51%;
    }

    .jug.pop-up-box {
      left: 40%;
      top: 54.5%;
    }

    .mermaid.toggle-button {
      width: 1.3%;
      height: 2.5%;
      left: 27.2%;
      top: 61.5%;
    }

    .mermaid.pop-up-box {
      left: 27.2%;
      top: 64.7%;
    }

    .mug.toggle-button {
      width: 1%;
      height: 1%;
      left: 35.5%;
      top: 50%;
    }

    .mug.pop-up-box {
      left: 35.5%;
      top: 53%;
    }

    .nude.toggle-button {
      width: 1%;
      height: 1%;
      left: 35.5%;
      top: 50%;
    }

    .nude.pop-up-box {
      left: 35.5%;
      top: 53%;
    }

    .oil-lamp.toggle-button {
      width: 1%;
      height: 2%;
      left: 45%;
      top: 46%;
    }

    .oil-lamp.pop-up-box {
      left: 45%;
      top: 49%;
    }

    .red-lamp.toggle-button {
      width: 2%;
      height: 5%;
      left: 40%;
      top: 41%;
    }

    .red-lamp.pop-up-box {
      left: 40%;
      top: 47%;
    }

    .shell.toggle-button {
      width: 2%;
      height: 2%;
      right: 10%;
      top: 71%;
    }

    .shell.pop-up-box {
      right: 10%;
      top: 74%;
    }

    .tin.toggle-button {
      width: 3%;
      height: 4%;
      left: 55%;
      top: 57%;
    }

    .tin.pop-up-box {
      left: 55%;
      top: 62%;
    }

    .windchime.toggle-button {
      width: 1%;
      height: 6%;
      left: 37%;
      top: 42%;
    }

    .windchime.pop-up-box {
      left: 37%;
      top: 49%;
    }

    .windmill.toggle-button {
      height: 5.2%;
      width: 2.3%;
      left: 58.4%;
      top: 57%;
    }

    .windmill.pop-up-box {
      left: 58.4%;
      top: 63.2%;
    }
  }
  h2.gallery-header {
    .box-shadow-bottom-inset;
  }
  .gallery-container {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 200px;
    .box-shadow-bottom;
    .gallery-container-inner {
      width: 10000000px;
    }

    .gallery-item {
      position: relative;
      float: left;
      // border: 1px solid #eee;
      // border-right-width: 0;
      a {
        display: block;
      }
       img.thumbnail {
        height: 400px;
        width: auto;
        display: block;
      }

      h3 {
        display: none;
        font-size: 2em;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #000;
        color: #fff;
        opacity: 0.7;
        padding-top: 1.5em;
      }
    }
    .gallery-item:hover h3 {
      display: block;
    }
// div.gallery-item:hover {
//    z-index: 9999999;
//   position: relative;
// }

// div.gallery-item:hover:before {
//     box-shadow: -5px 0 5px -5px inset;
//     content: " ";
//     height: 100%;
//     left: -5px;
//     position: absolute;
//     top: 0;
//     width: 5px;
// }
// div.gallery-item:hover:after {
//     box-shadow: 5px 0 5px -5px inset;
//     content: " ";
//     height: 100%;
//     position: absolute;
//     top: 0;
//     right: -5px;
//     width: 5px;
// }



  }
}
