<div class="container-2">
	<div class="container-1">
		<ul>
			<li>&copy; {{year}} Sarah Schäfer   |   <a {{action 'logout'}}>Sign out</a></li>
		</ul>
		<div class="clr"></div>
	</div>
</div>
<div class="clr"></div>
