<div class="container-2">
	<div class="container-1">
		<ul>
			<li>&copy; {{year}} <a href='http://hyraxbio.co.za' target='_blank'>Hyrax Biosciences</a></li>
			{{#if customEndpoint}}<li>Endpoint: {{customEndpoint}}</li>{{/if}}
		</ul>
		<div class="clr"></div>
	</div>
</div>
<div class="clr"></div>
