{{!-- <div class="logo-container">
	{{#link-to 'index'}}{{svg/admin-logo-horizontal}}{{/link-to}}
</div> --}}
{{!-- {{#if authenticated}}
	{{layouts/private/user-greeting user=user}}
{{/if}} --}}
{{#if systemMessage}}{{layouts/system-message systemMessage=systemMessage}}{{/if}}
<div class= "clr"></div>