{{#link-to 'artefacts' (query-params artefact=artefact.metaTitle) class='read-more'}}
  <div {{action 'scrollToTop'}}>
    <img src="{{imagePath}}" alt="{{artefact.title}}" class="thumbnail">
    <div class="overlay">
      <h3 class="artefact-title">{{artefact.title}}</h3>
    </div>
  </div>
{{/link-to}}

