{{#link-to 'artefacts' (query-params artefact=artefact.metaTitle) class='read-more'}}
  <img src="{{imagePath}}" alt="{{artefact.title}}" class="thumbnail">
   <h3 class="artefact-title">{{artefact.title}}</h3>
{{/link-to}}

