@sidebar-nav-item-height: 50px;
@sidebar-expanded-width: 100%;
@sidebar-collapsed-width: 0px;
@sidebar-toggle-transition: all 0.3s ease-in-out;
@sidebar-toggle-menu-list-item-height: 54px;

/*---Nav sidebar as a whole---*/

div.nav-sidebar {
	position: absolute;
	left: 0;
	top: @header-height;
	z-index: 9;
	width: @sidebar-expanded-width;
	background: #333;
	padding: 20px 0;
}

div.nav-sidebar.nav-collapsed  {
	width: @sidebar-collapsed-width;
	background: transparent;
}

// div.nav-sidebar.nav-toggled {
// 	transition: @sidebar-toggle-transition;
// }

div.nav-sidebar ul {
	padding: 0;
	list-style: none;
}

div.nav-sidebar.nav-collapsed ul {
	width: 0;
	overflow: hidden;
}

/*---Nav sidebar items generic styles---*/

div.nav-sidebar ul li {
	margin: 0;
	list-style: none;
	font-size: 2em;
	color: #888;
	clear: both;
}

div.nav-sidebar ul li span.text-separator {
	padding-left: 40px;
}

div.nav-sidebar ul ul {
	margin-top: 0;
}

div.nav-sidebar ul ul li {
	font-size: 1em;
}

/*---Hamburger menu icon---*/
div.close-nav,
div.hamburger {
	float: left;
	margin: 26px 20px 0;
	cursor: pointer;
}

div.close-nav {
	width: 26px;
	fill: #333;
}

span.hamburger-stripe {
	height: 3px;
	width: 30px;
	border-radius: 2px;
	-moz-border-radius: 2px;
  -webkit-border-radius: 2px;
	background: #333;
	margin: 0 0 4px 0;
	display: block;
}

/*---Main nav links---*/

div.nav-sidebar a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 1em;
	width: 100%;
	padding-left: 40px;
	line-height: @sidebar-nav-item-height;
	max-width: 400px;
}

div.nav-sidebar li li a {
	padding-left: 80px;
}

div.nav-sidebar a:hover  {
	background-color: #666;
}

div.nav-sidebar a.active {
	cursor: default;
}



