<header>
  <div class='hamburger' {{action 'toggleFullNav'}}>
      <span class='hamburger-stripe'></span>
      <span class='hamburger-stripe'></span>
      <span class='hamburger-stripe'></span>
    </div>
</header>
{{layouts/private/main-nav}}
<div id= "main-content-strip" class="{{'container-3'}}">
	{{yield}}
</div>

