<p>A hide from a springbok, local wildlife in the Karoo. Again, this is &ldquo;an association with the deer&rdquo;(Graaff, 2017). It is a &ldquo;symbol of flight speed and agility, as well as the veld. These skins were and are readily available in Graaff Reinet and many of the surrounding Karoo farms had herds of wild springbok&rdquo; (Graaff, personal communication 2017, 27 October).</p>
