<p>&ldquo;This is the sort of tin that would have once been sold with biscuits inside. Such tins were often kept as containers once the biscuits were eaten. Helen had a large collection of such tins. They are an adjunct to her tea and hospitality imagery&rdquo; (Graaff, personal communication 2017, 27 October).</p>
