<p>As a breeze rustles through the Long Bedroom, this dainty wind chime tinkles mellifluously.</p>
<p>&ldquo;Helen would have loved this sort of object, its exotic connections with the East and the sensual sound of the chimes in a breeze&rdquo; (Graaff, personal communication 2017, 27 October).</p>
<iframe src="https://player.vimeo.com/video/238555067?autoplay=1&loop=1&color=fff&title=0&byline=0&portrait=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
