<div class="long-bedroom-hoverable">
  <img src="/images/LongBedroomHDR.jpg" alt="" class='home-image'>
  <div class="body-content">
    {{layouts/home-read-more-box artefactMetaTitle='windmill' thumbnail='windmill_c_1.jpg'}}
  </div>
</div>