{{#layouts/private/outer-wrapper class="home"}}
<div class="home-wrapper">
  <h1>The Long Bedroom Collection</h1>
    <div class="body-content">
      <p>The Owl House is a museum in Nieu Bethesda, in the South African Karoo. It was the home of Helen Martins, who spent thirty years transforming her immediate surroundings into a mystical world. The Long Bedroom is one of seven rooms in the Owl House. Although she received very little appreciation in her lifetime, Martins has come to be recognised as one of South Africa's illustrious and well-known Outsider Artists, and the Owl House is a renowned visionary environment.</p>
    </div>
  <div class="long-bedroom-hoverable">
    <img src="/images/LongBedroomHDR.jpg" alt="" class='home-image'>
    <div class="body-content">
      {{#each contentMap.artefacts as | artefact |}}
        {{layouts/home-read-more-box artefact=artefact}}
      {{/each}}
    </div>
  </div>
  <h2 class="gallery-header">Objects</h2>
  <div class="gallery-container">
    <div class="gallery-container-inner">
      {{#each contentMap.artefacts as |artefact| }}
        {{layouts/thumbnail-gallery-item artefact=artefact}}
      {{/each}}
    </div>
  </div>
</div>
{{/layouts/private/outer-wrapper}}